.Home {
  text-align: center;
}

.Home-header {
  background-color: #262d43;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #09d3ac;
}

.Card-body {
  color:#1b1f2f
}

.order-label {
  text-align: left;
  font-size: 20;
}
 
.order-buttons {
  text-align: end;
}